

<div class="">
    <div class="row">
        <div class="col-md-12">
            <section id="cd-timeline-2" class="cd-container" style="margin-top: 6rem;">
                    <div class="cd-timeline-block" >
                        <div class="cd-timeline-img">
                            <img src="assets/images/icon-porcelena.png" alt="Picture" >
                        </div>
                        
                        <span class="cd-timeline-line-right">
                        </span>
                        
                        <div id="porcelenaDescription" class="cd-timeline-text-right d-flex flex-row" style="opacity: 1">
                            <div class="">
                                    Quoque Arabia ingentes hanc excursus tumore Nabataeis Parthos Philadelphiam obtemperare.
                                <br/>
                                <hr/>
                                Voir plus d'oeuvres 
                            </div>
                        </div>

                        <div id="porcelenaTimelineContent" class="cd-timeline-content projects" style="opacity: 1">
                            <img src="assets/images/Lydie_Porce3.png" alt="">
                            <div id="porcelenaProjectContent" class="project-content left" style="opacity: 1">
                                <h2>Créations porcelaines</h2>
                                <div style="display: flex;flex-direction: row;">
                                    <div class="col-lg-9" style="justify-content: flex-start;">
                                        <span style="font-weight: 600;">Exemple création : Nos années folles</span>
                                    </div>
                                    <div class="see" style="justify-content: flex-end">
                                        <span>
                                             Voir plus <img src="assets/images/icon-see.png" class="icon-see">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="cd-timeline-block margin-block">
                            
                        <div id="paintingDescription" class="cd-timeline-text-left d-flex flex-row" style="opacity: 1">
                            <div class="">
                                    Ad de de amicitia a senior loqui Laelium Laelius parumper locutus respondet veniunt.
                                <br/>
                                <hr/>
                                Voir plus d'oeuvres
                            </div>
                        </div>

                        <div class="cd-timeline-line-left">
                        </div>
                        
                        <div class="cd-timeline-img cd-picture">
                            <img src="assets/images/icon-painting.png" alt="Picture">
                        </div>

                        <div id="paintingTimelineContent" class="cd-timeline-content projects" style="opacity: 1">
                            <img src="assets/images/Lydie_Paint1.jpg" alt="">
                            <div id="paintingProjectContent" class="project-content right" style="opacity: 1">
                                <h2>Peintures</h2>
                                <div style="display: flex;flex-direction: row;">
                                    <div class="col-lg-9" style="justify-content: flex-start;">
                                        <span style="font-weight: 600;">Exemple création : Panda d'or</span>
                                    </div>
                                    <div class="see" style="justify-content: flex-end">
                                        <span>
                                                Voir plus <img src="assets/images/icon-see.png" class="icon-see">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="cd-timeline-block margin-block" >
                            <div class="cd-timeline-img">
                                <img src="assets/images/icon-bio.png" alt="Picture" >
                            </div>
                            
                            <span class="cd-timeline-line-right">
                            </span>

                            <div id="biographyDescription" class="cd-timeline-text-right d-flex flex-row" style="opacity: 1">
                                <div class="">
                                        Quoque Arabia ingentes hanc excursus tumore Nabataeis Parthos Philadelphiam obtemperare.
                                    <br/>
                                    <hr/>
                                    Voir la bio
                                </div>
                            </div>
                            <div id="biographyTimelineContent" class="cd-timeline-content projects" style="opacity: 1">
                                <img src="assets/images/Lydie_Bio1.jpg" alt="">
                                <div id="biographyProjectContent" class="project-content left" style="opacity: 1">
                                    <h2>Biogaphie</h2>
                                    <div style="display: flex;flex-direction: row;">
                                        <div class="col-lg-9" style="justify-content: flex-start;">
                                            
                                        </div>
                                        <div class="see" style="justify-content: flex-end">
                                            <span>
                                                 Voir la bio <img src="assets/images/icon-see.png" class="icon-see">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </section>
        </div>
    </div>
</div>
